<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend.full_name.split(' ')[0]}}">
  <ion-content has-header="true" padding="true">
  <ion-list>
    <ion-item>Birth Year: {{friend.dob.slice(0, 4)}}</ion-item>
    <ion-item>Favorite Camera: {{friend.favorite_camera || "N/A"}}</ion-item>
  </ion-list>
  </ion-content>
</ion-view>
