<ion-view title="Instructions">
  <ion-content class="has-header padding">
    <div class="card">
      <div class="item item-divider">
        Usage
      </div>
      <div class="item item-text-wrap">
        Use the Directors tab to view all records
      </div>
      <div class="item item-text-wrap">
        Click on a name to see more details
      </div>
      <div class="item item-text-wrap">
        Pull down to refresh List
      </div>
      <div class="item item-text-wrap">
        Use the Create tab to create new records 
      </div>
    </div>
  </ion-content>
</ion-view>
